/*
#container
{
    width:100%;
    height:600px;
    background-color: white;
}*/

.button-work {
  background-color:transparent;
  border:#f7b301 solid;
  border-width: 5px;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  padding: 5px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 10%;
}

.button-work:hover {
  background-color: #f7b301;
  color: white;
}

.button {
  position:absolute;
  background-color:#f7b301;
  border:#f7b301 solid;
  border-width: 5px;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  padding: 10px 28px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  top: 100%;
  right: 40%;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: white;
}

#container-contact
{
  background-image: url("background horse.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container-hom
{
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.container-gal
{
  padding: 10%;
}

.p
{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}

.p1
{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.h2
{
  padding-top: 30%;
  padding-left: 10%;
  padding-right: 10%;
}
.bullets 
{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.footer
{
  background-color: #f7b301;
  height:100px;
  width: 100%;
  float:left;
}

#footcol1
{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items:center;
}

#active
{
  color:#116530;
  font-weight: 475;
  font-size: 28px;
  justify-content: space-evenly;
}

.center-right {
  position:absolute;
  top: 90%;
  right: 1%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  padding-right:12%;
}

.center-top {
  position: absolute;
  top: 60%;
  right: 16px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  padding-right:23%;
}

.center-left {
  position: absolute;
  top: 35%;
  left: 16px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  padding-left:40%;
}

 /* center left text on main image */

.center-bottom {
  position: absolute;
  top: 144%;
  right: 16px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  padding-right:60%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical ;
  }
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color:#f7b301;
    border:#f7b301 solid;
    border-width: 5px;
    border-radius: 8px;
    padding: 10px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 100%;
    right: 40%;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: transparent;
  }

  #form
  {
    border-radius: 5px;
    padding-left: 350px;
    padding-right: 350px;
    padding-top:200px;
    padding-bottom: 200px;
  }

